body {
    overflow-x: hidden;
    background-color: #35618e;
    margin: auto;
    padding-left: 50px;
}

#img1 {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    width: 115px;
}

#submitForm {
    display: flex;
    justify-content: space-between;
}

#left {
    background-color: #35618E;
    width: 550px;
    height: 620px;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 10px #0a0a0a3b;
    position: relative;
    left: 100px;
    top: 150px;
}

h2 {
    text-align: right;
    color: #ECB73E;
    text-shadow: 4px 5px 5px #312b1e;
}

h3 {
    text-align: right;
    color: #ECB73E;
    text-shadow: 4px 5px 5px #312b1e;
}

input {
    width: 550px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px #ECB73E;
    float: right;
    text-align: right;
    box-shadow: 4px 5px 5px #ECB73E;
}

.img2 {
    position: relative;
    width: 28px;
    top: -36px;
    left: 10px;
    height: 32px;
}

.img3 {
    position: relative;
    width: 28px;
    top: 40px;
    left: -20px;
    height: 32px;
}

button {
    width: 550px;
    height: 40px;
    background-color: #ECB73E;
    border-radius: 10px;
    border: #ECB73E;
    box-shadow: 4px 5px 5px #ECB73E;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

button:hover {
    transform: skewy(1deg);
    transition: ease-out 1s;
    box-shadow: 10px 10px 10px black;
}

.right {
    margin-top: 250px;
}

@media (max-width:1500px) {
    .right {
        /* position: relative; */
        top: 400px;
        /* left: 280px; */
        width: 400px;
        height: 400px;
    }

    input {
        width: 300px;
        margin-bottom: 15px;
    }

    button {
        width: 300px;
        margin-top: 10px;
        margin-left: 100px;
    }

    #left {
        margin-left: 30px;
        width: 400px;
    }

    .img1 {
        position: relative;
        left: 550px;
    }
}

@media (max-width:1300px) {
    .right {
        /* position: relative; */
        right: 80px;
    }

    input {
        width: 200px;
    }

    button {
        width: 200px;
        margin-left: 0px;
    }

    .img3, .img2 {
        width: 0px;
    }

    #left {
        width: 200px;
    }

    .img1 {
        position: relative;
        left: 450px;
    }
}

@media (max-width:950px) {
    .right {
        position: relative;
        right: 250px;
        top: 632px;
    }

    #left {
        margin-left: 50px;
        width: 500PX;
    }

    .img1 {
        position: relative;
        left:  350px;
            
    }
}